<% provide(:page_title, 'Create Opinion')
  provide(:button_text, 'Save Changes')

  # Will need the label style this user prefers, for several things.
  label_style = current_user&.fancy_labels
  label_style = 0 if label_style.nil? || label_style < 0
  label_style = 2 if label_style > 2
  umd_selection_menu = [
    [ApplicationHelper::DIRECTION_LABELS["U"][label_style], "U"],
    [ApplicationHelper::DIRECTION_LABELS["M"][label_style], "M"],
    [ApplicationHelper::DIRECTION_LABELS["D"][label_style], "D"],
  ]
%>
<h1>What is your Opinion about...</h1>

<%= form_with(url: link_opinions_path, method: :post, local: true,
  class: "form-group") do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/error_messages', object: @link_object %>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
      <H2>About a Thing...</H2>
      <strong><%= opine_object = if @link_object.opinion_about_object_id &. > 0
          LedgerBase.find_by(id: @link_object.opinion_about_object_id)
        end
        if opine_object
          opine_object.to_s
        else
          "Non-existent object."
        end
      %></strong><br>
      <%= f.text_field :opinion_about_object_id,
        value: @link_object.opinion_about_object_id, size: 10 %>
      <%= f.select :direction_object, umd_selection_menu,
        selected: @link_object.direction_object %>
      <%= f.text_field :boost_object, value: @link_object.boost_object, size: 6  %>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
      <H2>Author or other Thing...</H2>
      <strong><%= opine_object = if @link_object.author_id &. > 0
          LedgerBase.find_by(id: @link_object.author_id)
        end
        if opine_object
          opine_object.to_s
        else
          "Non-existent object."
        end
      %></strong><br>
      <%= f.text_field :author_id,
        value: @link_object.author_id, size: 10 %>
      <%= f.select :direction_author, umd_selection_menu,
        selected: @link_object.direction_author %>
      <%= f.text_field :boost_author, value: @link_object.boost_author, size: 6  %>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
      <H2>Meta-opinion...</H2>
      <strong><%=
        if @link_object.is_a?(LinkMetaOpinion)
          opine_object = LinkBase.find_by(id: @link_object.opinion_about_link_id)
          if opine_object
            opine_object.to_s
          else
            "Not an existing link."
          end
        else
          "No opinion specified about another opinion or link."
        end
      %></strong><br>
      <%= f.text_field :opinion_about_link_id,
        value: @link_object.is_a?(LinkMetaOpinion) ?
          @link_object.opinion_about_link_id : 0,
        size: 10 %>
    </div>

    <div class="col-xs-12">
      <%= f.label :reason_why %>
      <%= f.text_field :reason_why, value: @link_object.reason_why,
        class: 'form-control' %>
    </div>

    <H2 class="col-xs-12">Would use <%=
      points_available = current_ledger_user.points_available
      points_used = @link_object.rating_points_spent
      "#{format("%.2f", points_used)} #{'point'.pluralize(points_used)}"
      %>, leaving <%= remaining = points_available - points_used
      "#{format("%.2f", remaining)} #{'point'.pluralize(remaining)}"
      %>.</H2>

    <div class="col-xs-12 col-sm-4">
      <%= f.submit "Update Preview", name: "preview",
        class: "btn btn-primary button-full-width" %>
    </div>
    <div class="col-xs-4">
      &nbsp;
    </div>
    <div class="col-xs-12 col-sm-4">
      <% if remaining >= 0.0 %>
        <%= f.submit yield(:button_text),
          class: "btn btn-primary button-full-width" %>
      <% else %>
        Out of Points, can't Save!
      <% end %>
    </div>
  </div>
<% end %>

