<% provide(:page_title,
  "#{@link_object.is_a?(LinkOpinion) ?
    @link_object.base_s : "Unknown Opinion"}") %>
<% if !@link_object.is_a?(LinkOpinion) %>
  <p>Opinion "<%= params[:id] %>" does not exist.</p>
<% elsif !@link_object.allowed_to_view?(current_ledger_user) %>
  <p>You do not have permission to view Opinion #<%= @link_object.id %>.</p>
<% else %>
  <h3>Opinion <%= link_to @link_object.base_s,
    link_base_path(@link_object) %></H3>

  <p class="center"><%= link_to @link_object.creator.latest_version.name,
    @link_object.creator.user
  %> opined</p>
  <p class="center">"<%= @link_object.reason_why %>"</p>
  <p class="center"><small><%= time_ago_in_words(@link_object.created_at)
    %> ago for these objects:</small></p>

  <ol>
    <li><%= point_html(@link_object.direction_author,
      @link_object.boost_author) %>:<BR>
      <%= link_to @link_object.author.to_s, @link_object.author %>
    </li>
    <li><%= point_html(@link_object.direction_object,
      @link_object.boost_object) %>:<BR>
      <%= link_to @link_object.opinion_about_object.to_s,
        @link_object.opinion_about_object %>
    </li>
    <% if @link_object.is_a?(LinkMetaOpinion) %>
    <li>Meta Opinion about:<BR>
      <%=
        meta_link = LinkBase.find_by(id:
          @link_object.opinion_about_link_id)
        if meta_link
          link_to "#{meta_link.to_s}", link_base_path(meta_link)
        else
          "Link ##{@link_object.opinion_about_link_id} isn't a link."
        end
      %>
    </li>
    <% end %>
  </ol>
<% end %>

