<% provide(:page_title,
  "Ledger Object ##{@ledger_object.is_a?(LedgerBase) ?
    @ledger_object.id : "Unknown"}") %>
<% if @ledger_object.nil? %>
  <div class="row">
    <div class="col-xs-12" error-show">
      Ledger Object "<%= params[:id] %>" does not exist.
    </div>
  </div>
<% elsif !@ledger_object.allowed_to_view?(current_ledger_user) %>
  <div class="row">
    <div class="col-xs-12 error-show">
      You do not have permission to view Ledger Object #<%= @ledger_object.id %>.
    </div>
  </div>
<% else %>
  <div class="row">
    <H3><%= @ledger_object.base_s %></H3>
    <div class="col-xs-9 col-sm-10 col-lg-11 content">
      <!-- Content of the object, creator first -->
      <span class="user">Created by <%=
        link_to "##{@ledger_object.creator.original_version_id} " \
          "#{@ledger_object.creator.latest_version.name}",
          @ledger_object.creator.user %><BR></span>
      <span class="object-content">
        Bool1: <%= @ledger_object.bool1 %><BR>
        Number1: <%= @ledger_object.number1 %><BR>
        String1: <%= @ledger_object.string1 %><BR>
        String2: <%= @ledger_object.string2 %><BR>
        Text1: <%= @ledger_object.text1 %><BR>
        Date1: <%= @ledger_object.date1 %><BR>
        Deleted: <%= @ledger_object.deleted %><BR>
        Down points: <%= @ledger_object.current_down_points %><BR>
        Meh points: <%= @ledger_object.current_meh_points %><BR>
        Up points: <%= @ledger_object.current_up_points %><BR>
      </span>

      <span class="timestamp">
        Created <%= time_ago_in_words(@ledger_object.created_at)
        %> ago&nbsp;- <small><%= @ledger_object.created_at.getlocal
        %></small>.<BR>
        Last updated <%= time_ago_in_words(@ledger_object.updated_at)
        %> ago&nbsp;- <small><%= @ledger_object.updated_at.getlocal
        %></small>.
      </span>
    </div>
    <div class="col-xs-3 col-sm-2 col-lg-1">
      <%= render 'shared/ledger_delete_button',
        { ledger_object: @ledger_object } %>
    </div>
  </div>

  <% delete_list = @ledger_object.deleted_by
    unless delete_list.empty? %>
    <div class="row">
      <div class="col-xs-12">
        <HR>
        <span class="history-block">
          Delete and undelete history:
          <ul class="list-ledger-objects">
          <% delete_list.each do |x| %>
            <li><%= (x.type == "LedgerUndelete") ? "Undeleted" : "Deleted" %> by
            <%= x.creator.name %> (#<%= x.creator_id %>) on
            <%= x.created_at.getlocal %><BR>
            <small>Reason: <%= x.reason %></small><BR>
            <small>Context: <%= x.context %></small></li>
          <% end %>
          </ul>
        </span>
      </div>
    </div>
  <% end %>

  <% version_list = @ledger_object.all_versions
    unless version_list.count <= 1 %>
    <div class="row">
      <div class="col-xs-12">
        <HR>
        <span class="history-block">
          Version history:
          <ul class="list-ledger-objects">
          <% version_list.each do |x| %>
            <li><%= link_to x.to_s, ledger_base_path(x) %></li>
          <% end %>
          <% if @ledger_object.type == "LedgerPost" %>
            <li>*** <%= link_to "All versions of this Post",
              ledger_post_path(@ledger_object) %> ***</li>
          <% end %>
          </ul>
        </span>
      </div>
    </div>
  <% end %>

  <% related_links = LinkBase.where(
    parent_id: @ledger_object.original_version_id)
      .or(LinkBase.where(child_id: @ledger_object.original_version_id))
      .order(created_at: :asc)
    unless related_links.empty? %>
    <div class="row">
      <div class="col-xs-12">
        <HR>
        <span class="history-block">
          Related links:
          <ul class="list-ledger-objects">
          <% related_links.each do |x| %>
            <li><%= link_to x.to_s, link_base_path(x) %></li>
          <% end %>
          </ul>
        </span>
      </div>
    </div>
  <% end %>

  <% auxiliary_ledgers = AuxLedger.where(
      parent_id: @ledger_object.original_version_id)
      .or(AuxLedger.where(child_id: @ledger_object.original_version_id))
      .order(created_at: :asc)
    unless auxiliary_ledgers.empty? %>
    <div class="row">
      <div class="col-xs-12">
        <HR>
        <span class="history-block">
          Related Auxiliary Ledger Objects:
          <ul class="list-ledger-objects">
          <% auxiliary_ledgers.each do |x| %>
            <li>#<%= x.id %> <%= link_to x.parent.to_s,
              ledger_base_path(x.parent) %>, <%= link_to x.child.to_s,
              ledger_base_path(x.child) %></li>
          <% end %>
          </ul>
        </span>
      </div>
    </div>
  <% end %>

  <% auxiliary_links = AuxLink.where(
      parent_id: @ledger_object.original_version_id)
      .order(created_at: :asc)
    unless auxiliary_links.empty? %>
    <div class="row">
      <div class="col-xs-12">
        <HR>
        <span class="history-block">
          Related Auxiliary Link Objects:
          <ul class="list-ledger-objects">
          <% auxiliary_links.each do |x| %>
            <li>#<%= x.id %> <%= link_to x.parent.to_s,
              ledger_base_path(x.parent) %>, <%= link_to x.child.to_s,
              link_base_path(x.child) %></li>
          <% end %>
          </ul>
        </span>
      </div>
    </div>
  <% end %>
<% end %>

