<% provide(:page_title, @user.name) %>

<aside class="col-md-4">
  <section class="user_info">
    <%= gravatar_for @user %>
    <h1><%= @user.name %></h1>
    <% luser = @user.ledger_user # Don't need create_or_get_ledger_user here.
    if luser %>
    <p><%= link_to points_html(luser), ledger_base_path(luser) %><br>
    <%= render 'ledger_bases/timestamp_plain', { ledger_object: luser } %></p>
    <% end %>
  </section>
</aside>
<% if @lposts.any?
  post_count = @lposts.count %>
  <h3><%=
    "#{post_count} Ledger #{'Post'.pluralize(post_count)} by #{@user.name}"
  %></h3>
  <%== pagy_nav @pagy %>
  <br clear="all">
  <ol class="list-ledger-objects">
    <%= render @lposts %>
  </ol>
  <%== pagy_nav @pagy %>
<% end %>

