<%= form_with(model: @new_micropost, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :images, multiple: true,
      accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>

<script type="text/javascript">
  $("#micropost_images").bind("change", function() {
    var files_length = this.files.length;
    var files_index = 0;
    for (files_index = 0; files_index < files_length; files_index++) {
        var size_in_megabytes = this.files[files_index].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert("File #" + (files_index + 1) +
            " size is more than 5 megabytes.  " +
            "Please choose a smaller file for \"" +
            this.files[files_index].name + "\".");
          $("#micropost_images").val("");
          break;
        }
    }
  });
</script>

