<li id="ledger_object-<%= ledger_object.id %>">
<% if ledger_object.nil? %>
  <span class="nil_warning">
    No object specified (nil).
  </span>
<% elif ledger_object.deleted %>
  <span class="deleted">
    <% if ledger_object.creator_owner?(@current_ledger_user) %>
      <%= button_to "Undelete", undelete_ledger_object_path(ledger_object),
        method: :post,
        data: { confirm: "Sure you want to undelete this object?" },
        form_class: 'undeletebutton', class: 'btn btn-info'
      %>
      <ul>
      <% ledger_object.deleted_by.each do |x| %>
        <li><%= (x.type == "LedgerUndelete") ? "Undeleted" : "Deleted" %> by
        <%= x.creator.name %> (#<%= x.creator_id %>) on
        <%= x.created_at.getlocal %><BR>
        <small><%= x.reason %></small></li>
      <% end %>
      </ul>
    <% else %>
      This post has been deleted.
    <% end %>
  </span>
<% else %>
  <% if ledger_object.creator_owner?(@current_ledger_user) %>
    <%= button_to "Delete", ledger_object_path(ledger_object), method: :delete,
      data: { confirm: "Really delete this object?" },
      form_class: 'deletebutton', class: 'btn btn-danger'
    %>
  <% end %>
  <span class="user"><%= link_to ledger_object.creator.name,
    ledger_object.creator.user %></span>
  <span class="content">
    <%= ledger_object.to_s %>
  </span>
<% end %>
<% if ledger_object %>
  <span class="timestamp"><%= link_to "##{ledger_object.id}",
    ledger_object_path(ledger_object) %> created <%=
    time_ago_in_words(ledger_object.created_at) %> ago&nbsp;- <small><%=
    ledger_object.created_at.getlocal %></small>.</span>
<% end %>
</li>
