<li id="ledger_object_<%= ledger_object.id %>">
<% if !ledger_object.allowed_to_view?(current_ledger_user) %>
  <span class="not_allowed_to_view">
    <%= "#{ledger_object.base_s} You don't have permission to view this object." %>
  </span>
<% else %>
  <%= render 'ledger_objects/ledger_delete_button',
    { ledger_object: ledger_object } %>
  <span class="<%= ledger_object.deleted ? "deleted" : "content" %>">
    <%= link_to "#{ledger_object.type} ##{ledger_object.id}",
      ledger_object_path(ledger_object) %>
    <%= ledger_object.context_s %><BR>
    <small><%= ledger_object.created_at.getlocal %></small>
  </span>
<% end %>
</li>

