<% provide(:page_title, 'Numerical Expansion Word Counter') %>
<% provide(:button_text, 'Update the Count') %>

<H1><%= yield(:page_title) %></H1>

<%= form_with(local: true) do %>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <H1><%= @expanded_word_count %> <%= 'Word'.pluralize(@expanded_word_count) %></H1>
      <H2>Was <%= @original_word_count %> <%= 'word'.pluralize(@original_word_count) %>
      unexpanded;
      <%= delta_count = @expanded_word_count - @original_word_count %> extra
      <%= 'word'.pluralize(delta_count) %><%= if delta_count <= 0 then '?' elsif delta_count < 10 then '.' else '!' end %></H2>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= submit_tag(yield(:button_text), class: "btn btn-primary button-full-width") %>
      <p>Instructions: <small>Paste your script into the box, select the word
        expansion options you want, and press the "<%= yield(:button_text) %>"
        button to do the count, and create the expanded script below.</small></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"><a name="vo_script"></a>
      <H3>Your Voice-Over Script:</H3>
      <%= text_area_tag(:vo_script, @vo_script, size: "80x6", class: 'form-control') %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"><a name="expansion_options"></a>
      <H3>Expansion Options:</H3>
      <p>Note that they are processed in the order given here (make window
        narrower to see it in a single column).</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_dollars, "Expand Dollar Currency") %>
      <%= check_box_tag(:exp_dollars, true, @selected_expansions[:exp_dollars]) %>
      <p>$ 123,456.78 becomes: one hundred and twenty-three thousand four
        hundred and fifty-six dollars and seventy-eight cents</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_na_telephone, "Expand North American Telephone Numbers") %>
      <%= check_box_tag(:exp_na_telephone, true, @selected_expansions[:exp_na_telephone]) %>
      <p>Long distance numbers start with 1 like 1 (800) 234 5678 or 1-800-234-5678 become: one eight hundred two three four five six seven eight.  Also does 10 digit and local 7 digit numbers with dashes or spaces separating the parts: 765-4321 becomes: seven six five four three two one.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_say_area_code, "Say Area Code") %>
      <%= check_box_tag(:exp_say_area_code, true, @selected_expansions[:exp_say_area_code]) %>
      <p>Says "area code" before the area code portion of a telephone number.  1 (800) 234-5678 or 1-800-234-5678 becomes: one area code eight hundred two three four five six seven eight.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_say_telephone_number, "Say Telephone Number") %>
      <%= check_box_tag(:exp_say_telephone_number, true, @selected_expansions[:exp_say_telephone_number]) %>
      <p>Says "telephone number" before the local portion of a telephone number.  (800) 234-5678 or 800-234-5678 becomes: eight hundred telephone number two three four five six seven eight.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_dash_numbers, "Expand Dashed Numbers") %>
      <%= check_box_tag(:exp_dash_numbers, true, @selected_expansions[:exp_dash_numbers]) %>
      <p>The dash between numbers is expanded to the word "to". 1931-35 or
        even 1931 - 35 becomes: 1931 to 35</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_years, "Expand Years into Words") %>
      <%= check_box_tag(:exp_years, true, @selected_expansions[:exp_years]) %>
      <p>4 digit numbers (surrounded by spaces or followed by punctuation)
        1000 up to 2999, like 1931, become: nineteen thirty-one</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_numbers, "Expand Numbers into Words") %>
      <%= check_box_tag(:exp_numbers, true, @selected_expansions[:exp_numbers]) %>
      <p>Positive numbers like 123,456.78 become: one hundred and twenty-three
        thousand four hundred and fifty-six point seven eight</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_hyphens, "Hyphens to Spaces") %>
      <%= check_box_tag(:exp_hyphens, true, @selected_expansions[:exp_hyphens]) %>
      <p>Adjacent words containing only letters separated by a hyphen
        (to avoid clobbering minus signs and dashes) have the hyphen removed.
        voice-over becomes: voice over</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"><a name="expanded_script"></a>
      <H3>Expanded Script:</H3>
      <p class="description-box"><%= safe_join(@expanded_script.split(/\r*\n/), "<br />".html_safe) %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"><a name="word_counts"></a>
      <H3>Word Counts:</H3>
    </div>
    <% @word_list.each do |aword, acount| %>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1"><%= aword %> = <%= acount %></div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-12"><a name="differences"></a>
      <H3>Expansion Differences:</H3>
      <p>Avoid embarassing mistakes in the expansion (it's not perfect).  Look
        for things like "$ 3.21 million" becoming "three dollars and twenty-one
        cents million".  Rewrite the original script to avoid glitches like
        that, or contact us if fixing it is worthy of becoming a new feature.</p>
    </div>
    <div class="col-xs-12">
      <%= Diffy::Diff.new(@vo_script, @expanded_script).to_s(:html).html_safe %>
    </div>
  </div>
<% end %>

<HR>

<p>If you have ideas for counting features that you'd like to see, or notice a bug, please <a href="/contact">contact us</a>.</p>

<p><small>Situation, legal and otherwise: You don't need to log in to do a word count, though that may be required later if we ever finish the rest of this less evil social media web site or if we need to save word counter preferences in the future.  Since you aren't logging in, you don't need cookies (they're only used for identifying logged in people).  Also no third party tracking (like Google or Facebook Analytics) is done on our web site.  Every web page access is logged (network address, time, and inputs including the script), though the logs are discarded whenever the web server is rebooted (typically weekly).  If you don't like logging, you can set up your own copy of this web site, possibly in a desktop virtual machine.  Real logs are made of wood.  Use of this experimental web site is at your own risk and expense; we don't guarantee anything.</small></p>

