<% provide(:page_title, 'Real Count™ - Earn what you deserve!') %>
<% provide(:button_text, 'Update the Count') %>

<div class="row">
  <p class="center col-xs-12"><%= image_tag("RealCountLogoLandscape.png",
    alt: "[Logo for Real Count - Earn what you deserve!  " \
    "Courtesy of \"The Coach\" Dane Scot and Programmer Alexander G. M. Smith]",
    width: "967px", height: "229px", style: "width: 100% ; height: auto ;",
    align: "center") %></p>
</div>

<%= form_with(url: wordcounter_path + '#main_count', local: true) do %>
  <div class="row">
    <div class="col-xs-12 col-sm-6"><a name="main_count"></a>
      <H1><%= @expanded_word_count %> <%= 'Word'.pluralize(@expanded_word_count) %></H1>
      <H2>Was <%= @original_word_count %> <%= 'word'.pluralize(@original_word_count) %>
      unexpanded;
      <%= delta_count = @expanded_word_count - @original_word_count %> extra
      <%= 'word'.pluralize(delta_count) %><%= if delta_count <= 0 then '?' elsif delta_count < 10 then '.' else '!' end %></H2>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= submit_tag(yield(:button_text), class: "btn btn-primary button-full-width") %>
      <p>Instructions: <small>Hit Clear and paste your script into the box,
        then press the "<%= yield(:button_text) %>" button to do the count,
        and create the expanded script below.  Check the list of changes there
        for problems and turn off troublesome expansion options, then count
        again!</small></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9"><a name="vo_script"></a>
      <p class="wordcount-sectiontitle">Your Voice-Over Script:</p>
    </div>
    <div class="col-xs-3">
      <p><%= submit_tag("Clear", class: "btn btn-secondary button-full-width") %></p>
    </div>
    <div class="col-xs-12">
      <%= text_area_tag(:vo_script, @vo_script, size: "80x6", class: 'form-control') %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"><a name="expansion_options"></a>
      <p class="wordcount-sectiontitle">Expansion Options:</p>
      <p>Note that they are processed in the order given here (make the window
        narrower to see it in a single column).  The defaults are pretty good,
        but you may have to turn off ones that are causing problems with your
        particular script.  Or turn on ones that most people won't use, such
        as making all "/" characters into "slash".</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_urls, "Expand URLs") %>
      <%= check_box_tag(:exp_urls, true, @selected_expansions[:exp_urls]) %>
      <p>Adds words "dot", "slash", "at" and "colon" for the separators in a
        web site address or FTP server URL or e-mail.  Needs two or more
        characters for each part of the URL (so p.m. doesn't become "p dot m.",
        and the first part can't start with a digit (otherwise 23.45 becomes
        23 dot 45).  So apple.com / http://www.google.com/ /
        agmsrepsys@gmail.com becomes:
        apple dot com / http colon slash slash www dot google dot com slash /
        agmsrepsys at gmail dot com
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_na_telephone, "Expand North American Telephone Numbers") %>
      <%= check_box_tag(:exp_na_telephone, true, @selected_expansions[:exp_na_telephone]) %>
      <p>Long distance numbers start with 1 like 1 (800) 234 5678 or 1-800-234-5678 become: one eight hundred two three four five six seven eight.  Also does 10 digit and local 7 digit numbers with dashes or spaces separating the parts: 765-4321 becomes: seven six five four three two one.  911 is also done here as a special case.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_say_area_code, "Say Area Code") %>
      <%= check_box_tag(:exp_say_area_code, true, @selected_expansions[:exp_say_area_code]) %>
      <p>Says "area code" before the area code portion of a telephone number.  1 (800) 234-5678 becomes: one area code eight hundred two three four five six seven eight.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_say_telephone_number, "Say Telephone Number") %>
      <%= check_box_tag(:exp_say_telephone_number, true, @selected_expansions[:exp_say_telephone_number]) %>
      <p>Says "telephone number" before the local portion of a telephone number.   800-234-5678 becomes: eight hundred telephone number two three four five six seven eight.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_dash_numbers, "Expand Dashed Numbers") %>
      <%= check_box_tag(:exp_dash_numbers, true, @selected_expansions[:exp_dash_numbers]) %>
      <p>The dash between numbers or dollar amounts is expanded to the word
      "to".  $12.3 - $ 14 becomes $12.3 to $ 14.
      1931-35 or even 1931 - 35 becomes: 1931 to 35</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_atsignletter, "Expand @ At-sign + Word") %>
      <%= check_box_tag(:exp_atsignletter, true, @selected_expansions[:exp_atsignletter]) %>
      <p>An @ with a space in front and a letter immediately afterwards becomes
        "at-sign".  @Twitter becomes: at-sign Twitter</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_atsignnumber, "Expand @ At + Number") %>
      <%= check_box_tag(:exp_atsignnumber, true, @selected_expansions[:exp_atsignnumber]) %>
      <p>An @ with a number or dollar sign somewhere afterwards becomes
        "at".  Stock@$9.25 becomes: Stock at $9.25</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_percent, "Expand % Percent") %>
      <%= check_box_tag(:exp_percent, true, @selected_expansions[:exp_percent]) %>
      <p>A % sign somewhere after a number is expanded to the word "percent".
        12% becomes: 12 percent</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_hashtag, "Expand # Hashtag") %>
      <%= check_box_tag(:exp_hashtag, true, @selected_expansions[:exp_hashtag]) %>
      <p>A # sign with a space before and a letter immediately afterwards expands to
         "hashtag".  #RealWordCount becomes: hashtag RealWordCount</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_number_of, "Expand # Number") %>
      <%= check_box_tag(:exp_number_of, true, @selected_expansions[:exp_number_of]) %>
      <p>A # sign with a space before and a digit somewhere afterwards expands to
         "number".  #3 becomes: number 3</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_slash_per_number, "/ to \"per\" for Numbers") %>
      <%= check_box_tag(:exp_slash_per_number, true, @selected_expansions[:exp_slash_per_number]) %>
      <p>The slash with a number or dollars on just one end is expanded to the
      word "per".  Both ends not done - would be a fraction.
      $3/dozen or even $3 / dozen becomes: $3 per dozen</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_slash_per_always, "/ to \"per\" for All") %>
      <%= check_box_tag(:exp_slash_per_always, true, @selected_expansions[:exp_slash_per_always]) %>
      <p>All remaining / are expanded to the word "per". A/B becomes: A per B</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_slash_slash_always, "/ to \"slash\" for All") %>
      <%= check_box_tag(:exp_slash_slash_always, true, @selected_expansions[:exp_slash_slash_always]) %>
      <p>All remaining / are expanded to the word "slash". A/B becomes: A slash B</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_dollars, "Expand Dollar Currency") %>
      <%= check_box_tag(:exp_dollars, true, @selected_expansions[:exp_dollars]) %>
      <p>$ 123,456.78 becomes: one hundred and twenty-three thousand four
        hundred and fifty-six dollars and seventy-eight cents</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_years, "Expand Years into Words") %>
      <%= check_box_tag(:exp_years, true, @selected_expansions[:exp_years]) %>
      <p>4 digit numbers (surrounded by spaces or followed by punctuation),
        1000 up to 2999, like 1931, become: nineteen thirty-one</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_leadingzeroes, "Expand Leading Zero Numbers") %>
      <%= check_box_tag(:exp_leadingzeroes, true, @selected_expansions[:exp_leadingzeroes]) %>
      <p>Pure digit numbers (no commas or periods) starting with 0 get read
        out as individual digits.  So 8:05 becomes 8:zero five</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_leadingohs, "Say Oh insead of Zero") %>
      <%= check_box_tag(:exp_leadingohs, true, @selected_expansions[:exp_leadingohs]) %>
      <p>Change Expand Leading Zeroes to use "oh" instead of "zero".
        So 8:05 becomes 8:oh five</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_numbers, "Expand Numbers into Words") %>
      <%= check_box_tag(:exp_numbers, true, @selected_expansions[:exp_numbers]) %>
      <p>Positive numbers are expanded into words.  Note that the numbers can
        be anywhere, even inside a word, so X15 or 9a become X fifteen or
        nine a.  Though if it's followed by "st", "nd", "rd" or "th" then it
        won't be expanded (avoids 22nd -> twenty twond).  Numbers can have commas and
        decimal points, such as 123,456.78 which
        becomes: one hundred and twenty-three thousand four hundred and
        fifty-six point seven eight.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <%= label_tag(:exp_hyphens, "Hyphens to Spaces") %>
      <%= check_box_tag(:exp_hyphens, true, @selected_expansions[:exp_hyphens]) %>
      <p>Adjacent words containing only letters separated by a hyphen
        (to avoid clobbering minus signs and dashes) have the hyphen removed.
        voice-over becomes: voice over, twenty-three becomes: twenty three</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"><a name="expanded_script"></a>
      <p class="wordcount-sectiontitle">Expanded Script:</p>
      <p class="description-box"><%= safe_join(@expanded_script.split(/\r*\n/), "<br />".html_safe) %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"><a name="word_counts"></a>
      <p class="wordcount-sectiontitle">Word Counts:</p>
    </div>
    <% @hybrid_word_list.each do |a_word, a_count| %>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-1"><%= a_word %> = <%=
        @expanded_word_list[a_word] %><%= if a_count > 0
          " (+#{a_count})"
        elsif a_count < 0
          " (#{a_count})"
        else
          ""
        end %></div>
    <% end %>
    <p>&nbsp;</p>
  </div>

  <div class="row">
    <div class="col-xs-12"><a name="differences"></a>
      <p class="wordcount-sectiontitle">Expansion Differences:</p>
      <p>Avoid embarassing mistakes in the expansion (it's not perfect).  Look
        for things like "$ 3.21 million" becoming "three dollars and twenty-one
        cents million".  Rewrite the original script to avoid glitches like
        that, or contact us if fixing it is worthy of becoming a new feature.</p>
    </div>
    <div class="col-xs-12">
      <%= Diffy::Diff.new(@vo_script, @expanded_script).to_s(:html).html_safe %>
    </div>
  </div>
<% end %>

<HR>

<p>If you notice a bug or have ideas for counting features that you'd like to
see, please send us a sample script via <%= link_to "contact us", contact_path %>
or visit <a href="https://www.facebook.com/realcount">RealCount on Facebook</a>
or send a Tweet tagged with <a href="https://twitter.com/search?q=RealWordCount&f=live&vertical=default">#RealWordCount</a>
(#RealCount is over-used for vote counting).</p>

<p><small>Situation, legal and otherwise: You don't need to log in to do a word
count, though that may be required later if we ever finish the rest of this
less evil social media web site or if we need to save word counter preferences
in the future.  Since you aren't logging in, you don't need cookies (they're
only used for identifying logged in people).  Also no third party tracking
(like Google or Facebook Analytics) is done on our web site.  Every web page
access is logged (network address, time, and inputs including the script),
and the system operator may see your script scrolling by in the log window, but
we won't keep your data and the log files are discarded whenever the web server
is rebooted (typically weekly).  If you don't like logging, you can set up your
own copy of this web site, possibly in a desktop virtual machine.  Real logs
are made of wood.  Use of this experimental web site is at your own risk and
expense; we don't guarantee anything.</small></p>

