<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <% if current_user?(micropost.user) %>
  <%= button_to "Delete", micropost, method: :delete,
      data: { confirm: "You sure?" },
      form_class: 'deletebutton', class: 'btn btn-danger'
    %>
  <% end %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %><% if micropost.images.attached? %><br>
      <% micropost.images.each do |full_size_image|
        thumbnail_image = micropost.displayable_image(full_size_image) %>
        <%= link_to full_size_image do
          image_tag thumbnail_image
        end %>
      <% end %>
    <% end %>
  </span>
  <span class="timestamp">Posted <%= time_ago_in_words(micropost.created_at) %>
    ago&nbsp;- <small><%= micropost.created_at.getlocal %></small>.</span>
</li>
