<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <% if current_user?(micropost.user) %>
  <%= button_to "Delete", micropost, method: :delete,
      data: { confirm: "You sure?" },
      form_class: 'deletebutton', class: 'btn btn-danger'
    %>
  <% end %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= Kramdown::Document.new(micropost.content).to_html.html_safe -%>
  </span>
  <% if micropost.images_number > 0 %>
  <span class="tiled-pictures">
      <% bigger = true
      micropost.images.each_with_index do |full_size_image, index|
        thumbnail_image =
          full_size_image.variant(resize_to_limit: [500, 500])
        # First image is always big, later are half size, final one is
        # back to full size if it is on a line by itself.
        if index == 0
          bigger = true
        elsif index < micropost.images_number - 1
          bigger = false
        elsif micropost.images_number.odd?
          bigger = false
        else # Last picture, even total number of pictures.
          bigger = true
        end %>
<%= # Note no indentation, so there are no space characters between pictures.
        link_to full_size_image do
          image_tag thumbnail_image, width: (bigger ? "98%" : "49%")
        end -%>
      <% end %>

  </span>
  <% end %>
  <span class="timestamp">Posted <%= time_ago_in_words(micropost.created_at)
    %> ago&nbsp;- <small><%= micropost.created_at.getlocal %></small>.</span>
</li>
