    <footer class="footer">
      <div class="container-fluid">
        <small>
          <a href="https://ratingstone.agmsmith.ca/">Rating Stone</a>,
          the slightly less evil reputation system.
        </small>
        <nav><!-- Menu for non-javascript and older browsers -->
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Real Count™", wordcounter_path %></li>
            <% if logged_in? %>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Objects", ledger_bases_path %></li>
              <li><%= link_to "Posts", ledger_posts_path %></li>
              <li><%= link_to "Groups", ledger_groups_path %></li>
              <li><%= link_to "Links", link_bases_path %></li>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Help", help_path %></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </footer>
