<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title(yield(:page_title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
  </head>

  <body bgcolor="white" text="black" link="BLUE" vlink="silver">
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
<%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <% if Rails.env.development? %>
      <div class="container-fluid" id="DebugStuffInFooter">
        <p><%= userid = session[:user_id]
          user = User.find_by(id: userid) if userid
          if user.nil?
            "Not logged in, userid #{userid.inspect}."
          else
            "Logged in as ID ##{userid} (#{user.name})."
          end %></p>

        <%= debug(params) %>
      </div>
    <% end %>
  </body>
</html>
