<% if !ledger_post.allowed_to_view?(current_ledger_user) %>
  <div class="not-allowed-to-view">
    <%= "#{ledger_post.base_s} You don't have permission to view this object." %>
  </div>
<% else %>
  <div class="<%=
    ledger_post.deleted ? "deleted" : "post-subject" %>">
    <%= ledger_post.subject.empty? ? "<No Subject>" : ledger_post.subject %>
  </div>
  <div class="description-box <%=
    ledger_post.deleted ? "deleted" : "content" %>">
    <%= Kramdown::Document.new(ledger_post.content).to_html.html_safe -%>
  </div>
  <span class="timestamp"><%= link_to "##{ledger_post.id}",
    ledger_object_path(ledger_post) %> posted <%=
    time_ago_in_words(ledger_post.created_at)
    %> ago&nbsp;- <small><%= ledger_post.created_at.getlocal %></small>.</span>
  <% # Count up replies and reply to entries.  Show links if any exist.
    my_replies = LinkReply.where(parent: ledger_post,
      deleted: false, approved_parent: true, approved_child: true)
    my_replies_count = my_replies.count
    replied_to = LinkReply.where(child: ledger_post,
      deleted: false, approved_parent: true, approved_child: true)
    replied_to_count = replied_to.count
    if my_replies_count > 0 || replied_to_count > 0 %>
      <BR>
      <% if replied_to_count > 0 %>
        replied to <%=
          "#{replied_to_count} #{'post'.pluralize(replied_to_count)}" %>:
        <% replied_to.each do | a_reply_link | %>
          <%= link_to "##{a_reply_link.parent_id}",
            ledger_post_path(a_reply_link.parent_id) %><% end
        # Surprising that you can do this sort of convoluted thing in .erb
        # files, just for appending a comma without any spaces before it.
        if my_replies_count > 0 %>,&nbsp;<% end %>
      <% end %>
      <% if my_replies_count > 0 %>
        <%= "#{my_replies_count} #{'reply'.pluralize(my_replies_count)}:" %>
        <% my_replies.each do | a_reply_link | %>
          <%= link_to "##{a_reply_link.child_id}",
            ledger_post_path(a_reply_link.child_id) %>
        <% end %>
      <% end %>
  <% end %>
  <% # List the groups this post is in, if any.
    my_groups = LinkGroupContent.where(content: ledger_post,
      deleted: false, approved_parent: true, approved_child: true)
    my_groups_count = my_groups.count
    if my_groups_count > 0 %>
      <BR>
      <%= "In #{my_groups_count} #{'group'.pluralize(my_groups_count)}:" %>
      <% my_groups.each do | a_group_link |
        my_group = a_group_link.group %>
        <%= link_to "##{my_group.id} (#{my_group.name})",
          ledger_group_path(my_group.id) %>
      <% end %>
  <% end %>
<% end %>

