<li id="ledger-post-<%= ledger_post.id %>" class="row">
<% if !ledger_post.allowed_to_view?(current_ledger_user) %>
  <div class="col-xs-12 not-allowed-to-view">
    <%= "#{ledger_post.base_s} You don't have permission to view this object." %>
  </div>
<% else %>
  <div class="col-xs-12">
    <div class="post-gravatar-box">
      <%= # Will need the label style this user prefers, for several things.
        label_style = current_user&.fancy_labels
        label_style = 0 if label_style.nil? || label_style < 0
        label_style = 2 if label_style > 2

        # Note we are showing the creator of this particular version of the
        # post, not the original or current creator.
        link_to gravatar_for(ledger_post.creator.user, size: 50),
          ledger_post.creator.user %>
      <%= link_to ledger_post.creator.name, ledger_post.creator.user %><br>
      <%= render 'ledger_bases/timestamp_plain',
        { ledger_object: ledger_post } %><br>
      <%= # Reply icon and number of replies, whole thing is link to do a reply. 
        link_to ApplicationHelper::DIRECTION_LABELS["R"][label_style] +
          format(" %d", ledger_post.reply_count),
          reply_ledger_post_path(ledger_post) %>&nbsp; <%=
        # Quote icon and number of quotes, whole thing is a new quote link.
        link_to ApplicationHelper::DIRECTION_LABELS["Q"][label_style] +
          format(" %d", ledger_post.quote_count),
          quote_ledger_post_path(ledger_post) %>&nbsp; <%=
        # List the rating for this post, up / meh / down.
        # TODO: Turn into links to submit an opinion on the post.
        points_html(ledger_post) %>
    </div>
    <%= render "ledger_posts/ledger_post_plain",
      { ledger_post: ledger_post } %>
  </div>
<% end %>
</li>

