<li id="ledger-post-<%= ledger_post.id %>" class="row">
<% if !ledger_post.allowed_to_view?(current_ledger_user) %>
  <div class="col-xs-12 not-allowed-to-view">
    <%= "#{ledger_post.base_s} You don't have permission to view this object." %>
  </div>
<% else %>
  <div class="col-xs-12">
    <div class="post-gravatar-box">
      <%= # Note we are showing the creator of this particular version of the
       # post, not the original or current creator.
       link_to gravatar_for(ledger_post.creator.user, size: 50),
         ledger_post.creator.user %>
      <%= link_to ledger_post.creator.name, ledger_post.creator.user %><br>
      <%= timestamp_html(ledger_post) %>
    </div>
    <%= render "ledger_posts/ledger_post_plain",
      { ledger_post: ledger_post } %>
  </div>
<% end %>
</li>

