<%= form_with(model: @ledger_object, scope: :ledger_post,
  url: ledger_post_path, local: true, class: "form-group") do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
      <div class="description-form-box">
        <%= f.submit "Update Preview", name: "preview",
          class: "btn btn-primary float-right" %>
        <%= Kramdown::Document.new(@ledger_object.content)
          .to_html.html_safe -%>
      </div>

      <%= f.submit yield(:button_text), class: "btn btn-primary button-full-width" %>
<% end %>
