<% provide(:page_title,
  "Descendants of ##{@ledger_object.id} #{@ledger_object.subject}") %>

<h1>Descendants of <%=
  link_to "##{@ledger_object.id } #{@ledger_object.subject}",
  @ledger_object %></h1>

<%== pagy_bootstrap_nav(@pagy) %>

<% hidden_count = 0
  @ledger_objects.each do |an_object|
    if an_object.is_a?(LedgerPost) && !an_object.deleted?
      %><%= render an_object
    %><% else
      hidden_count += 1
    end
  end %>
<% if hidden_count != 0 %>
<p><%= "#{hidden_count} #{'post'.pluralize(hidden_count)} " \
    "#{(hidden_count == 1) ? 'was' : 'were'}"
  %> hidden (deleted, or not a post).</p>
<% end %>

<%== pagy_bootstrap_nav(@pagy) %>

