<% provide(:page_title,
  "Ancestors and Descendants of ##{@ledger_object.id} #{@ledger_object.subject}") %>

<h1>Ancestors and Descendants of <%=
  link_to "##{@ledger_object.id } #{@ledger_object.subject}",
  @ledger_object %></h1>

<%== pagy_nav(@pagy) %>

<% hidden_count = 0
  last_shown_id = nil
  @ledger_objects.each do |an_object|
    if an_object.is_a?(LedgerPost) && !an_object.deleted?
      if an_object.id != last_shown_id
        %><%=
        last_shown_id = an_object.id
        render an_object
      %><%
      end
    else
      hidden_count += 1
    end
  end %>
<% if hidden_count != 0 %>
<p><%= "#{hidden_count} #{'post'.pluralize(hidden_count)} " \
    "#{(hidden_count == 1) ? 'was' : 'were'}"
  %> hidden (duplicate paths, deleted, or not a post).</p>
<% end %>

<%== pagy_nav(@pagy) %>

