<% provide(:page_title, 'Edit Post') %>
<% provide(:button_text, 'Save Changes') %>

<h1>Editing <%= @ledger_object.base_s %></h1>

<%= form_with(model: @ledger_object, scope: :ledger_post,
  # Use URL without ID for new records, with ID for editing existing record.
  url: @ledger_object.id.nil? ? ledger_posts_path : ledger_post_path,
  method: :patch, local: true, class: "form-group") do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :subject %>
      <%= f.text_field :subject, class: 'form-control' %>
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
      <div class="description-form-box">
        <%= f.submit "Update Preview", name: "preview",
          class: "btn btn-primary float-right" %>
        <%= Kramdown::Document.new(@ledger_object.content)
          .to_html.html_safe -%>
      </div>

      <%= f.submit yield(:button_text), class: "btn btn-primary button-full-width" %>
    </div>

    <div class="col-xs-12">
      <H2>Add to Groups</H2>
      <ul>
        <% @ledger_object.new_groups.each_with_index do |group_id, group_index| %>
          <%= f.fields :groups do |group_fields| %>
            <li>
              <% a_group = LedgerSubgroup.find_by(id: group_id)
                if a_group
                  group_name = a_group.name
                else
                  group_name = :Unknown
                end %>
              <%= group_fields.text_field group_index, value: group_id %>
              <%= group_name %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>
<% end %>

