<% provide(:page_title, 'Edit Post')
  provide(:button_text, 'Save Changes')
  points_available = current_ledger_user.points_available
  points_used = LedgerBase::DEFAULT_SPEND_FOR_OBJECT %>

<h1>Editing <%= @ledger_object.base_s %></h1>

<%= form_with(model: @ledger_object, scope: :ledger_post,
  # Use URL without ID for new records, with ID for editing existing record.
  url: @ledger_object.id.nil? ? ledger_posts_path : ledger_post_path,
  method: :patch, local: true, class: "form-group") do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :subject %>
      <%= f.text_field :subject, class: 'form-control' %>
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
      <div class="description-form-box">
        <%= f.submit "Update Preview", name: "preview",
          class: "btn btn-primary float-right" %>
        <%= Kramdown::Document.new(@ledger_object.content)
          .to_html.html_safe -%>
      </div>
      <%= f.label :summary_of_changes %>
      <%= f.text_field :summary_of_changes, class: 'form-control' %>
    </div>

    <div class="col-xs-12 col-md-6">
      <H2>Additional Groups</H2>
      <p>Add your post to these groups.  Note that they may need to approve it
        too (at some later time), depending on the group's rules and whether
        you are a member of the group.</p>
      <ul>
        <%= fields_for :new_groups do |group_fields| %>
          <% LedgerFullGroup.name # Force load of subclass so SQL includes it.
            @ledger_object.new_groups.each_with_index do |group_item,
              group_index| %>
            <li>
              <% group_id = group_item.to_i
                a_group = LedgerSubgroup.find_by(id: group_id)
                if a_group
                  group_name = a_group.to_s
                  points_used += LinkBase::DEFAULT_SPEND_FOR_LINK
                elsif group_id > 0
                  group_name = "Unknown (#{group_id})"
                else
                  group_name = ""
                end %>
              <%= # Using an empty string for the object name so we get
                # "new_groups[]" as the name, which becomes an array of values
                # (not a hash) when converted back to params.
                group_fields.text_field "", value: group_item %>
              <strong><%= group_name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-12 col-md-6">
      <H2>Additional Reply-Tos</H2>
      <p>In case you think your post is a good reply to some other existing
        posts, you can add them here!</p>
      <ul>
        <%= fields_for :new_replytos do |replyto_fields| %>
          <% @ledger_object.new_replytos.each_with_index do |replyto_item,
              replyto_index| %>
            <li>
              <% replyto_id = replyto_item.to_i
                a_post = LedgerPost.find_by(id: replyto_id)
                if a_post
                  replyto_name = a_post.to_s
                  points_used += LinkBase::DEFAULT_SPEND_FOR_LINK
                elsif replyto_id > 0
                  replyto_name = "Unknown (#{replyto_id})"
                else
                  replyto_name = ""
                end %>
              <%= # Using an empty string for the object name so we get
                # "new_replytos[]" as the name, which becomes an array of values
                # (not a hash) when converted back to params.
                replyto_fields.text_field "", value: replyto_item %>
              <strong><%= replyto_name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="col-xs-12">
      <H2>Would use <%= "#{points_used} #{'point'.pluralize(points_used)}"
        %>, leaving <%= points_remaining = points_available - points_used
        "#{points_remaining} #{'point'.pluralize(points_remaining)}"
        %>.</H2>
      <% if points_remaining >= 0.0 %>
        <%= f.submit yield(:button_text), class: "btn btn-primary button-full-width" %>
      <% else %>
        Out of Points, can't Save!
      <% end %>
    </div>
  </div>
<% end %>

