<% params[:id] = @ledger_object.id.to_s unless params[:id]
  provide(:page_title, "Post #" + params[:id]) %>

<h1>Post #<%= params[:id] %></h1>
<% if @ledger_object.is_a?(LedgerPost) %>
<%= render 'ledger_posts/ledger_post_plain',
    { ledger_post: @ledger_object } %>
  <div class="row">
    <% if @ledger_object.creator_owner?(current_ledger_user) %>
      <div class="col-xs-12 col-sm-6">
        <%= button_to "Edit", edit_ledger_post_path(@ledger_object),
          method: :get, class: 'btn btn-success button-full-width' %><br>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-6">
      <%= render 'shared/ledger_delete_button',
        { ledger_object: @ledger_object } %>
    </div>
  </div>
  <% # List all versions of the post, including the summary of changes text.
    @ledger_objects = @ledger_object.all_versions.paginate(page: params[:page])
    if @ledger_objects.count >= 2 %>
      <hr>
      <h2>All Versions of <%= @ledger_object.base_s %></h2>
      <%= will_paginate @ledger_objects %>
      <ul class="list-ledger-objects">
        <% @ledger_objects.each do |an_object| %>
          <li id="ledger-post-<%= an_object.id %>">
            <%= render 'ledger_posts/ledger_post_plain',
              { ledger_post: an_object } %><%
            unless an_object.summary_of_changes.empty? %>
              <BR>Summary: <%= an_object.summary_of_changes %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= will_paginate @ledger_objects %>
  <% end %>
<% else %>
  <p>Sorry, post "<%= params[:id] %>" does not exist.</p>
<% end %>
</div>

