<% provide(:page_title, "Post ##{@ledger_object.id} #{@ledger_object.subject}") %>
<h1>Post #<%= @ledger_object.id %> <I>"<%= @ledger_object.subject %>"</I></h1>
<% if !@ledger_object.allowed_to_view?(current_ledger_user) %>
  <div class="not-allowed-to-view">
    <%= "#{@ledger_object.base_s} You don't have permission to view this object." %>
  </div>
<% else %>
  <%= render 'ledger_posts/ledger_post_plain',
    { ledger_post: @ledger_object } %>
  <p><%=
    # Update points since they're being shown.  Affects expiry time too.
    points_object = @ledger_object.update_current_points
    points_html(points_object) %>&nbsp; Created by <%=
    latestCreator = @ledger_object.creator.latest_version # Want latest name.
    link_to latestCreator.name, latestCreator.user,
      title: "View user's page." %>, <%=
    render 'ledger_bases/timestamp_and_expiry',
      { ledger_object: @ledger_object }
    %><%
    # Show groups, replies, quotes (even unapproved ones), with links and
    # approved flags.
    my_replies = LinkReply.where(
      prior_post_id: @ledger_object.original_version_id,
      deleted: false).order(created_at: :asc)
    my_replies_count = my_replies.count
    quoted_by = LinkReply.where(
      reply_post_id: @ledger_object.original_version_id,
      deleted: false).order(created_at: :asc)
    quoted_by_count = quoted_by.count
    my_groups = LinkGroupContent.where(
      content_id: @ledger_object.original_version_id,
      deleted: false).order(created_at: :asc)
    my_groups_count = my_groups.count
    comma_needed = false # For separating group, reply, quotes sections.
    if my_groups_count > 0 || my_replies_count > 0 || quoted_by_count > 0
      %>    <br><%
      if quoted_by_count > 0 %>
        <%= "#{quoted_by_count} #{'quote'.pluralize(quoted_by_count)}:" %><%
        quoted_by.each do |a_reply_link|
          reply_post = a_reply_link&.prior_post&.latest_version %>
          <%= if reply_post
            link_to "##{reply_post.id} (#{reply_post.creator.latest_version.name})",
              ledger_post_path(reply_post), title: reply_post.subject
          else # Post is missing or really deleted.
            "##{a_reply_link.prior_post_id}"
          end %><% # Add "unapproved" after the quote number if not approved.
          if !a_reply_link.approved_child || !a_reply_link.approved_parent
            %>-<%= link_to "unapproved", link_base_path(a_reply_link),
            class: "unapproved-link" %><%
          end
        end # quoted_by.each
        comma_needed = true
      end # if quoted_by_count
      %><%
      if my_replies_count > 0
      %><% if comma_needed %>,<% end %>
        <%= "#{my_replies_count} #{'reply'.pluralize(my_replies_count)}:" %><%
        my_replies.each do |a_reply_link|
          reply_post = a_reply_link&.reply_post&.latest_version %>
          <%= if reply_post
            link_to "##{reply_post.id} (#{reply_post.creator.latest_version.name})",
              ledger_post_path(reply_post), title: "#{reply_post.subject}"
            else
              "##{a_reply_link.reply_post_id}"
            end %><% # Add "unapproved" after the reply number if not approved.
          if !a_reply_link.approved_child || !a_reply_link.approved_parent
            %>-<%= link_to "unapproved", link_base_path(a_reply_link),
            class: "unapproved-link" %><%
          end
        end # my_replies.each
        comma_needed = true
      end # if my_replies_count
      %><%
      if my_groups_count > 0
      %><% if comma_needed %>,<% end %>
        <%= "#{my_groups_count} #{'group'.pluralize(my_groups_count)}:" %><%
        my_groups.each do |a_group_link|
          my_group = a_group_link&.group&.latest_version %>
          <%= if my_group
            link_to "##{my_group.original_version_id} (#{my_group.name})",
              ledger_group_path(my_group.original_version)
          else # Record doesn't exist.
            "##{a_group_link.group_id}"
          end %><% # Add "unapproved" after the group number if not approved.
          if !a_group_link.approved_child || !a_group_link.approved_parent
              %>-<%= link_to "unapproved", link_base_path(a_group_link),
              class: "unapproved-link" %><%
          end
        end # my_groups.each
        comma_needed = true
      end # if my_groups_count
      %><%
    end # if any replies or groups
  %>
  </p>
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <%= # Note that rather than button_to(), which doesn't work with HTML 3
        # (it generates a HTML 5 <button> rather than a <input type="submit">),
        # so use an explicit form and submit button.
        form_with(url: reply_ledger_post_path(@ledger_object),
          local: true, method: :get) do |f| %>
        <%= f.submit "Reply",
          class: "btn btn-default button-full-width" %>
      <% end %><br>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <%= form_with(url: quote_ledger_post_path(@ledger_object),
        local: true, method: :get) do |f| %>
        <%= f.submit "Quote",
          class: "btn btn-default button-full-width" %>
      <% end %><br>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <%= form_with(url: replies_ledger_post_path(@ledger_object),
          local: true, method: :get) do |f| %>
        <%= f.submit "List Replies",
          class: "btn btn-default button-full-width" %>
      <% end %><br>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <%= form_with(url: quotes_ledger_post_path(@ledger_object),
        local: true, method: :get) do |f| %>
        <%= f.submit "List Quotes",
          class: "btn btn-default button-full-width" %>
      <% end %><br>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <%= form_with(url: descendants_ledger_post_path(@ledger_object),
          local: true, method: :get) do |f| %>
        <%= f.submit "Tree of Replies",
          class: "btn btn-default button-full-width" %>
      <% end %><br>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <%= form_with(url: ancestors_ledger_post_path(@ledger_object),
          local: true, method: :get) do |f| %>
        <%= f.submit "Tree of Quotes",
          class: "btn btn-default button-full-width" %>
      <% end %><br>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <%= form_with(url: descentors_ledger_post_path(@ledger_object),
          local: true, method: :get) do |f| %>
        <%= f.submit "Tree of Quotes and Replies",
          class: "btn btn-default button-full-width" %>
      <% end %><br>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
      <%= form_with(url: ledger_base_path(@ledger_object),
          local: true, method: :get) do |f| %>
        <%= f.submit "Raw Details",
          class: "btn btn-default button-full-width" %>
      <% end %><br>
    </div>
    <% if @ledger_object.creator_owner?(current_ledger_user) %>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <%= form_with(url: edit_ledger_post_path(@ledger_object),
          local: true, method: :get) do |f| %>
          <%= f.submit "Edit",
            class: "btn btn-default button-full-width" %>
        <% end %><br>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <%= render 'shared/ledger_delete_button',
          { ledger_object: @ledger_object } %>
      </div>
    <% end %>
  </div>
  <% # List all versions of the post, including the summary of changes text.
    ledger_objects = @ledger_object.all_versions.paginate(page: params[:page])
    if ledger_objects.count >= 2 %>
      <hr>
      <h2>All Versions of <%= @ledger_object.base_s %></h2>
      <%= will_paginate ledger_objects %>
      <ul class="list-ledger-objects">
        <% ledger_objects.each do |an_object| %>
          <li id="ledger-post-<%= an_object.id %>"><%=
            render 'ledger_posts/ledger_post_plain',
              { ledger_post: an_object } -%>
            <p>Created: <%=
            render 'ledger_bases/timestamp_and_expiry',
              { ledger_object: an_object }
            -%><%
            unless an_object.summary_of_changes.empty? %>              <BR>
              Summary: <%= an_object.summary_of_changes
            %><% end
            %></p>
          </li>
        <% end %>
      </ul>
      <%= will_paginate ledger_objects %>
  <% end %>
<% end %>

